<html>
  <body>
    <div class="footer">
  <hr>
  <span class=" footer-txt">
  <li>About us</li></span>
 <span class=" footer-txt"> <li>Partner With Us</li></span>
  <span class=" footer-txt"> <li>Our Team</li></span>
  <span class=" footer-txt"> <li>Careers</li></span>
  <span class=" footer-txt"><li>Help and Support</li></span>
<span class=" footer-txt"><li>Refunds and Cancellations policy</li> </span>
<span class=" footer-txt"><li>privacy policy</li> </span>
<span class=" footer-txt"><li>Offer Terms</li> </span>
<span class=" footer-txt"><li>Terms and Conditions</li> </span>

  </div>
</body>
  </html>