<html>
    <body>
      
      <div class="one">
          
   <div class="two" ><a href="http://localhost:1234/"> <img class="pic"  src="https://seeklogo.com/images/H/hp-deathly-hallow-snitch-logo-756F9EA6D4-seeklogo.com.png" alt="Avatar"></a></div>

       <div class="title1"> <h2><i><em>IDEAL PROTEIN</em></i></h2></div>
    <div class="three">
  
  <div class="four"><h2>Our Approach</h2></div> 
   <div class="four"><h2>Account</h2></div>
  <div  class="five"> <h2>Register</h2>
    <div  class="register">
        <h2><b><i>Register:</i></b></h2>
         <div class="input_text"> <input type="text" placeholder="First Name"></div>
      <div  class="input_text">  <input type="text" placeholder="Last Name"></div>
       <div class="input_text"> <input type="text" placeholder="E-mail"></div>
       <div class="input_text"> <input type="Number" placeholder="Contact Number"></div>
       <div class="input_text" style="text-align:center"><h2 class="submit">submit</h2>></div>
       
      
      </div>
  </div>
   </div>
</div>
<hr>
<div class="bg">

<div class="allergy"><img class="pic" src="https://www.milwaukieoregon.gov/sites/default/files/imageattachments/police/page/41571/registrationicon.png">
  <h2>Allergy Checkup</h2><br><h2><p>Appointment with a doctor </p></h2></div>

 
         <div class="food">
      <img class="pic2"   src="http://cava.com/images/uploads/buildit_03_dips_IMG_0003_102616.jpg">
      <div class ="name">
        <h2><i>Weekly Plan</i></h2>
      </div>
    </div>
    <div class="food">
        <img class="pic2" src="http://cava.com/images/uploads/buildit_02_bases_IMG_9952_102616.jpg">
      
        <div class ="name">
          <h2> <i> Monthly Plan</i></h2>
        </div>
      </div>
      <div class="txt"><h1>This is a great opportunity to develop a habit of eating under calories!!!</h1></div>
      <button class="submit1" ><h2>Get Started!</h2></button>
     </div>
     
       <div class="footer">
     <div class="footer_b">
       <img class="picf" src="assets/images/facebook-logo_318-49940.jpg"></div> 
      <div class="footer_b"><img class="picf" src="assets/images/instagram_logo.png"></div> 
       </div>
 </body>
    </html>