
<div class="allergy"><img class="pic" src="https://www.milwaukieoregon.gov/sites/default/files/imageattachments/police/page/41571/registrationicon.png">
  <h2>Allergy Checkup</h2><br><h2><p>Appointment with a doctor </p></h2></div>
  Hello

         <div class="food">
      <img class="pic2"   src="http://cava.com/images/uploads/buildit_03_dips_IMG_0003_102616.jpg">
      <div class ="name">
        <h2>Weekly Plan</h2>
      </div>
    </div>
    <div class="food">
        <img class="pic2" src="http://cava.com/images/uploads/buildit_02_bases_IMG_9952_102616.jpg">
      
        <div class ="name">
          <h2>  Monthly Plan</h2>
        </div>
      </div>
      <div class="txt"><h1> Make this is a great opportunity to develop a habit of eating under calories!!!</h1></div>
      <button class="submit1" (click)="goToRegistration()" ><h2>Get Started!</h2></button>




     <div class="pizzapic"> 
       
      <h1 class="txtonimage">Want to eat tasty?</h1>
    
     
      
    </div>
    
      <app-star>[rating]=4</app-star>
    